@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100&family=Tai+Heritage+Pro&display=swap');

/*CSS orientado a aspectos grales y sobre index*/

*{
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}

header h1: hover{
	color: rgb(255, 230, 247);
}

.main-titulo{
	background-color: rgb(204, 230, 255);
	text-align: center;
	font-size: 200%;
	padding: 0;
	margin: 0;
	top: 0;
}

.bg-light-pink{
	background-color: rgb(255, 230, 247);
}

.logo{
	display: inline-block;
	width: 40px;
	float: left;
	border-radius: 50%;
}

@keyframes animation1{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes animation2 {
    from {
        opacity: 0;
    }
    15%, 45% {
        opacity: .15;
    }
    25%, 75% {
        opacity: .35;
    }
    to {
        opacity: 0;
    }
}

.bg-dark-g{
	border: rgb(255, 230, 247) solid;
	background-color: lightgray;
	border-radius: 20px;
	animation-duration: 2s;
	animation-name: animation1;
	animation-iteration-count: 1;
}

p{
	color: MediumPurple;
	font-size: 150%;
	margin: 10px;
	animation-duration: 1s;
	animation-name: animation2;
	animation-iteration-count: 1;
}

footer{
	grid-area: footer;
	background-color: rgb(255, 230, 247);
	position: sticky;
  	bottom: 0;
  	width: 100vw;
  	display: flex;
  	flex-direction: row;
}

.elem-foot{
	margin: 5px;
}

.elem-foot img:hover{
	transform: scale(1.2,1.2);
}

header{
	grid-area: nav;
}

.intr-text{
	grid-area: intr-text;
}

.lis-home{
	grid-area: lis-home;
}

#contenedor-grid{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: "nav" "intr-text" "lis-home" "footer";
}

.navbar-nav a{
	font-size: 1.5em;
}

/* Desde aqui empienza el codigo CSS con modificaciones orientadas para Contactos*/

.cas-per{
	text-align: center;
}

.cas-per img{
	border-radius: 10%;
}

.cas-per img: hover{
	transform: scale(1.2,1.2);
}

/*Media queries necesarios para el funcionamiento optimo de la pagina*/

@media (max-width: 768px){
	.elem-foot{
		margin: 5px;
		font-size: 1.2em;
	}

	h5 a{
		font-size: 1.6em;
		text-decoration: none;
		color: darkblue;
	}

	.nro-tel{
		font-size: 1.6em;
		color: darkblue;
	}
}