header{
	grid-area: nav;
	.main-titulo{
	background-color: rgb(204, 230, 255);
	text-align: center;
	font-size: 200%;
	padding: 0;
	margin: 0;
	top: 0;
	&:hover{
		color: rgb(255, 230, 247);
		}
	}
	.container-fluid{
		.logo{
		display: inline-block;
		width: 40px;
		float:left;
		border-radius: 50%;
		}
		.navbar-nav a{
		font-size: 1.5em;
		}
	}
}