.intr-text {
	grid-area: intr-text;

	@keyframes animation2 {
		from {
			opacity: 0;
		}

		15%,
		45% {
			opacity: .15;
		}

		25%,
		75% {
			opacity: .35;
		}

		to {
			opacity: 0;
		}
	}

	p {
		@extend p;
		color: MediumPurple;
	}
}