@media (max-width: 768px){
	.navbar-header{
		margin: 5px;
	}

	.nav-item{
		text-align: center;
		font-size: 1.5em;
	}
	
	footer{
		.elem-foot{
		margin: 5px;
		font-size: 1.4em;
		}
	}
}

@media (min-width: 768px) and (max-width: 872px){
	.foot-vet {
		position: relative;
	}
	.img-vet {
		width: 95%;
		height: 45%;
	}

	article{
		.img-vet{
			float: center;
			top: 0;
		}
	}
}