@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100&family=Tai+Heritage+Pro&display=swap');

$rojo: rgb(255,0,0);
$rosa-claro: rgb(255, 230, 247);

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.bg-dark-g{
	border: $rosa-claro solid;
	background-color: lightgray;
	border-radius: 20px;
	animation-duration: 2s;
	animation-name: animation1;
	animation-iteration-count: 1;
}

.bg-light-pink{
	background-color: $rosa-claro;
}

p {
	color: black;
	font-size: 200%;
	margin: 10px;
	animation-duration: 1s;
	animation-name: animation2;
	animation-iteration-count: 1;
}

@mixin texto-deco($color,$line-height,$tamanio,$amimation) {
	color: $color;
	line-height: $line-height;
	font-size: $tamanio;
	animation-duration: 1s;
	animation-name: $amimation;
	animation-iteration-count: 1;
}